.background {
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
}

.main {
    max-width: 1024px;
    max-height: 512px;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    margin: auto;
    overflow: auto;
}

::ng-deep .main .mat-tab-group {
    height: 100%;
}

::ng-deep .main .mat-tab-group .mat-tab-body-wrapper {
    height: 100%;
}
