.sideBySide {
    display: flex;
    widows: 100%;
}

.encoderSettings {
    flex-grow: 1;
}

.wideButton {
    width: 100%;
}

.sliders {
    width: 100%;
}

.wssInput {
    flex-flow: 1;
}

.bufferStats {
    min-width: 200px;
}